body{
	width: 100%;/*
	background-color: #801515;*/
	background-image: url("../images/city.jpeg");
	background-size: 100%;
	background-repeat: no repeat;
	padding-left: 0;
	padding-right: 0;
}
@font-face{
	font-family: LeagueGothic;
	src:url("../fonts/LeagueGothic-Regular.otf");
}
@font-face{
	font-family: LeagueGothic;
	font-style: italic;
	src:url("../fonts/LeagueGothic-Italic.otf");
}
@font-face{
	font-family:grafiti;
	src:url("../fonts/aroundTheBooks.ttf");
}
.Navigation{
	height: 20%;
	background-color: rgba(0, 0, 0, 0.7);
	top:0;
}
:target {   
	top: -20%;
	opacity: 1.0;    
    position: relative;
}
.centerBox{
	color: white;
	top: 40%;
	transform: translateY(-50%);
	position:relative;
}
.centerNav{
	color: white;
	top: 60%;
	transform: translateY(-50%);
	position:relative;
}
.Navigation div{
	height: 100%;
	margin: auto;
	text-align: center;
}
.Navigation a:hover{
	color: gray;
}
#FirstLink{
	background-color: #669933;
}
#SecondLink{
	background-color: #226666;
}
#ThirdLink{
	background-color: #4F2C73;
}
.bodyText{
	height:100%;
	width: 100%;
	margin: auto;
	margin-top: -1.6%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius:10px;
	/*border-radius: 10px;*/
}
#introduction{
	width: 100%;
	/*margin: auto;*/
	min-height:80%;
	height: auto;
	text-align: center;
	background-image: url("../images/stockRoad.jpeg");
	background-size: 100% 100%;
	color: White;
	padding-top: 12%;
}
.textFormat{
	font-family:'Architects Daughter', cursive;
	text-shadow: 2px 0 black;
	color: White;
}
.hiddenWords{
	font-family:'Architects Daughter', cursive;
	text-shadow: 2px 0 black;
	font-size: 15px;
	color: White;
}
#pitch{
	background-image: url("../images/Convo.jpeg");
	background-size: 100% 100%;
	height: auto;
	min-height: 100%;
	border-left: 2px solid black;
	border-right: 2px solid black;
	position: absolute;
	margin: 0 auto;
}
h2.centeredHeading{
	text-align: center;
	font-size: 3em;
	margin:auto;
	font-family: grafiti;
	text-shadow: 2px 2px rgb(13, 8, 8);
	color: rgb(183, 207, 235);
}
.responseCard{
	width: 30%;
	height: auto;
	margin: 10%;
	border-radius: 15px;
	display: inline-block;
	border: 1px solid black;
	margin: 1.5%;
	overflow-y:auto;
	padding: 10px;
	color: White;
	margin-top: 5%;
	background-color:rgba(0, 0, 0 , .6);
	text-align: center;
}
.responseCard h2{
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	color: White;

}
.responseCard h3{
	font-size: 1.35em;
	color: White;
}
.responseCard h4{
	font-size: 1.2em;
	color: White;
}/*
#firstResponse{
	background-color: rgba(4, 99, 117, .8);
}
#secondResponse{
	background-color: rgba(28, 109, 33, .8);
}
#thirdResponse{
	background-color: rgba(68, 28, 93, 0.8);
}*/
.subscribe{
	background-image: url(../images/wood.png);
	width: 100%;
	height: auto;
	overflow: auto;
	padding: 20;
	padding-bottom: 20px;
}
.formStyle{
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 0;
	background-color: white;
	border-radius: 15px;
	margin-bottom: 1%;
	padding: 15px;
}
#firstResponseCardMessage{
	background-color: rgba(4, 99, 117, .8);
	height:40%;
	overflow-y:auto;
}
#secondResponseCardMessage{
	background-color: rgba(28, 109, 33, .8);
	height:40%;
	overflow-y:auto;
}
#thirdResponseCardMessage{
	background-color: rgba(68, 28, 93, 0.8);
	height:40%;
	overflow-y:auto;
}
.subscribeText{
	font-family:'Architects Daughter', cursive;
	text-shadow: 2px 2px rgb(4, 99, 117);
}
#parallax{
	margin-top: -1.6%;
	height: 140%;
	background-image: url("../images/swirl.png");
}